// Accent colors
$primary:#8471B0;
$secondary:#EF6861;
$success:#6DC5B4;
$warning: #FEC64D;
$danger:#DC3545;
$info:#60CBF1;

// box-shadow colors
$shadow-600: rgba(0, 0, 0, 0.16);

//grey scale
$grey-100:#333333;
$grey-200:#8E8E93;
$grey-300:#AEAEB2;
$grey-400:#C7C7CC;
$grey-500:#D1D1D6;
$grey-600:#E5E5EA;
$grey-700:#F2F2F7;

//label-colors

$primary-label:#282727;
$secondary-label:#3c3c4399;
$tertiary-label:#3C3C434c;
$quaternary-label:#3C3C432E;
$white: white;

//red scale
$red-100:#CF4740;
$red-200:#EF6861;
$red-300:#F5A4A0;
$red-400:#FAD2D0;
$red-500:#FDF0EF;

//pink scale
$pink-100:#62508C;
$pink-200:#8471B0;
$pink-300:#B5AAD0;
$pink-400:#DAD4E7;
$pink-500:#F3F1F7;

//yellow scale
$yellow-100:#E3AB33;
$yellow-200:#FEC64D;
$yellow-300:#FEDD94;
$yellow-400:#FFEECA;
$yellow-500:#FFF9ED;

//green scale
$green-100:#489687;
$green-200:#6DC5B4;
$green-300:#A7DCD2;
$green-400:#D3EEE9;
$green-500:#F0F9F7;

//blue scale
$blue-100:#46A9CC;
$blue-200:#60CBF1;
$blue-300:#A0E0F7;
$blue-400:#CFEFFB;
$blue-500:#EFFAFE;

//gradients
$blue-gradient: linear-gradient(to right, $primary , $info);
$red-gradient: linear-gradient(to right, $secondary , $primary);
